/* Contact */

/* Main */

footer,
.contact {
  background: #232526;
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%);
  background: -moz-linear-gradient(90deg, #232526 10%, #414345 90%);
  background: -ms-linear-gradient(90deg, #232526 10%, #414345 90%);
  background: -o-linear-gradient(90deg, #232526 10%, #414345 90%);
  background: linear-gradient(90deg, #232526 10%, #414345 90%);
}

.contact h2 {
  color: #eee;
  margin-bottom: 1em;
}

.no-breaks {
  white-space: nowrap;
}

#name,
[for=name] {
  height: 0;
  margin: 0;
  display: block;
  padding: 0;
  border: 0;
  overflow: hidden;
}

label,
[type=text],
textarea {
  color: #fff;
  padding: .4em 2%;
  display: block;
  position: relative;
}

.label {
  z-index: 1;
  opacity: 0;
  margin-bottom: -2.1em;
  transition: all .5s ease;
}

.label.is-filled {
  opacity: 1;
  margin-bottom: 0;
  transition: all .5s ease;
}

label {
  color: #a9a9a9;
}

[type=text],
textarea {
  background: none;
  border: 0;
  border-bottom: 1px solid #aaa;
  width: 96%;
  z-index: 2;
  transition: border .5s ease;
  margin-bottom: 1em;
  -moz-text-decoration-color: #fff; /* Code for Firefox */
  text-decoration-color: #fff;
}

textarea {
  border: 1px solid #888;
  min-height: 8.4em;
  resize: none;
}

[type=text]:focus,
textarea:focus {
  border-color: #eee;
  outline: 0;
}
