/* Footer */

/* Main */

footer .icon {
  color: transparent;
  display: inline-block;
  width:1em;
  margin: 0 .5em;
  font-size: 2em;
  overflow: hidden;
}

footer .icon:before {
  color: #fff;
}

/* Theme */

footer {
  color: #fff;
  text-align: center;
}
