@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?oey85m');
	src:url('../fonts/icomoon.eot?#iefixoey85m') format('embedded-opentype'),
		url('../fonts/icomoon.woff?oey85m') format('woff'),
		url('../fonts/icomoon.ttf?oey85m') format('truetype'),
		url('../fonts/icomoon.svg?oey85m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e60b";
}
.icon-feather:before {
	content: "\e60c";
}
.icon-user:before {
	content: "\e600";
}
.icon-chat:before {
	content: "\e603";
}
.icon-house:before {
	content: "\e604";
}
.icon-checkmark:before {
	content: "\e602";
}
.icon-question:before {
	content: "\e605";
}
.icon-warning:before {
	content: "\e606";
}
.icon-list:before {
	content: "\e601";
}
.icon-github:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e608";
}

/* IE7 and older */

.ie7 .icon-mail {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');
}
.ie7 .icon-feather {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');
}
.ie7 .icon-user {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}
.ie7 .icon-chat {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}
.ie7 .icon-house {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');
}
.ie7 .icon-checkmark {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}
.ie7 .icon-question {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');
}
.ie7 .icon-warning {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}
.ie7 .icon-list {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}
.ie7 .icon-github {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe607;');
}
.ie7 .icon-twitter {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe608;');
}
