html, body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  color: #333;
}

h1,h2 {
  font-size: 1.5em;
  margin:  0 0 .6666em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h3, h4 {
  font-weight: 700;
}

p {
  margin: 0 0 1em;
  line-height: 1.5em;
}

a {
  color: #4cb6c2;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #3dd1ac;
  text-decoration: underline;
}

header a:hover,
header a:focus,
header a:active {
  color: #fff;
  text-decoration: none;
}
