@media (min-width: 32em) {
  .nav-item {
    width: 33.333333%;
  }
  .checkedselector .nav {
    top: -4em;
  }
  .checkedselector .nav-checkbox:checked ~ .nav-toggle {
    top: 1.77em;
  }
  h1 {
    font-size: 2em;
  }
  .contact h2 {
    margin-bottom: 2em;
  }
}
