@media (min-width: 21em) {
  .nav-item {
    width: 50%;
  }
  .checkedselector .nav {
    margin-top: -12em;
  }
  .checkedselector .nav-toggle {
    top: 6em;
  }
  .checkedselector .nav-checkbox:checked ~ .nav-toggle {
    top: 6em;
  }
  .parallax-back {
    transform-origin: 52% 50%;
  }
}

@media (min-width: 32em) {
  .nav-item {
    width: 33.333333%;
  }
  .checkedselector .nav {
    margin-top: -8em;
  }
  .checkedselector .nav-toggle {
    top: 4em;
  }
  .checkedselector .nav-checkbox:checked ~ .nav-toggle {
    top: 4em;
  }
  .parallax-back {
    transform-origin: 51% 50%;
  }
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 64em) {
  .nav-item {
    width: 16.666666%;
  }
  .checkedselector .nav {
    margin-top: -4em;
  }
  .checkedselector .nav-toggle {
    top: 2em;
  }
  .checkedselector .nav-checkbox:checked ~ .nav-toggle {
    top: 2em;
  }
  .parallax-back {
    transform-origin: 50.5% 50%;
  }
}
