/* Navigation */

/* Main */

header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.checkedselector .nav {
  transition: top .3s ease-out;
  position: absolute;
  width: 100%;
  left: 0;
  top: -12em;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items:after {
  content: "";
  display: block;
  clear: both;
}

.nav-item {
  display: block;
  width: 100%;
  height: 4em;
  float: left;
  transition: background .3s ease-in-out;
}

.nav-item i {
  vertical-align: text-bottom;
  position: relative;
  top: .1em;
  padding: 0 .2em 0 0;
}

.nav-checkbox,
.nav-toggle {
  display: none;
  visibility: hidden;
  padding: 0;
}

.checkedselector .nav-toggle {
  display: block;
  visibility: visible;
  position: absolute;
  right: .4em;
  top: 0;
  transition: all .3s ease-out;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.checkedselector .nav-checkbox:checked + .nav {
  top: 0em;
}

.checkedselector .nav-checkbox:checked ~ .nav-toggle {
  top: 5.3em;
}

/* Theme */

.nav {
  background: #414345;
}

.nav-item {
  background: #414345;
  text-align: center;
  color: #fff;
  text-decoration: none;
  line-height: 4em;
  outline: 0;
}

.nav-item i {
  font-size: 1.5em;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  background: #232526;
}

.checkedselector .nav-toggle {
  font-size: 2.25em;
  line-height: 1.75em;
  text-align: center;
  cursor: pointer;
  background: #232526;
  color: #fff;
}

.checkedselector .nav-checkbox:checked ~ .nav-toggle {
  background: #414345;
}
