html, body {
  height: 100%;
}

.parallax {
  perspective: 2px;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-base {
  transform: translateZ(0);
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.parallax-back {
  transform-origin: 52.5% 50%;
  transform: translateZ(-1px) scale(1.5);
  position: relative;
  z-index: 0;
}
