/* Sections */

/* Main */

.content {
  padding: 3em 2em;
  max-width: 36em;
  margin: 0 auto;
}

.content:after {
  content: "";
  display: block;
  clear: both;
}

.s1 {
  margin: 0;
  padding: 4em 2em;
  max-width: 100%;
  position: relative;
}

.content-portrait {
  border-radius: 50%;
  width: 60%;
  max-width: 19em;
}

.content-shortbio {
  margin: 1em auto 0;
  width: 100%;
  max-width: 19em;
}

/* Theme */

.s1 {
  background: #3dd1ac; /* Old browsers */
  background: -webkit-linear-gradient(90deg, #4CB8C4 10%, #3dd1ac 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4CB8C4 10%, #3dd1ac 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4CB8C4 10%, #3dd1ac 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #4CB8C4 10%, #3dd1ac 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #4CB8C4 10%, #3dd1ac 90%); /* W3C */
  text-align: center;
}

.content-portrait {
  border: 4px solid #fff;
}

.content-shortbio {
  font-weight: 400;
  color: #fff;
  line-height: 1.2em;
}
