.elevator {
  color: var(--color-on-dark, inherit);
  clip-path: polygon(
    -1% 100%,
    -1% -1%,
    100% -1%,
    100% 100%,
    100% calc(100% - 3vh)
  );
  --color-link: var(--token-brand);
  --bg-link-focus: rgba(255, 255, 255, 0.15);
  background: var(--token-darker);
}

.title {
  margin: 0 0 0.75em;
  text-align: center;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 2rem;
}
