:root {
  --bg-site: #f6f6f6;
  --token-dark: #242430;
  --token-darker: #121217;
  --color-on-dark: #e8e8e8;
  --token-brand: rgb(16, 218, 117);
  --token-brand-light: rgb(16, 218, 117, 0.33);
  --token-brand-lighter: rgb(16, 218, 117, 0.1);
  --token-accent: rgb(218, 16, 16);
  --token-accent-light: rgba(218, 16, 16, 0.33);
  --token-accent-lighter: rgba(218, 16, 16, 0.1);
}

html {
  -webkit-text-size-adjust: 100%;
  font: 1.125em / 1.45 sans-serif;
  color: var(--token-darker);
}

body {
  margin: 0;
  background: var(--bg-site);
}

.full {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

main {
  flex-grow: 1;
  display: block;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: var(--color-link, inherit);
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;
  position: relative;
  overflow: hidden;
  vertical-align: bottom;
  background-image: linear-gradient(
    180deg,
    transparent 60%,
    var(--bg-link-focus, rgba(16, 218, 117, 0.75)) 0
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.125s linear;
}

a:focus,
a:hover {
  outline: none;
  background-size: 100% 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 1.45em 0;
}

.layout-block {
  padding: 1.5rem 1rem;
}

article,
section {
  padding: 3rem 1rem;
}

.layout-block > *,
article > *,
section > * {
  max-width: 32rem;
  margin: 0 auto;
}

section article {
  padding: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link {
  line-height: 1.3;
  border-bottom: 2px solid var(--token-brand);
  background-size: 100% 200%;
}

.link:hover,
.link:focus {
  background-size: 100% 100%;
}

.credit {
  font-size: 14px;
  margin-top: -1em;
  font-family: serif;
  text-align: right;
}
