---
const {
    narrow
} = Astro.props;
---

<div class={narrow ? 'narrow': ''}>
    <slot />
</div>
<style>
    div {
        margin: 0 auto;
        max-width: 60rem;
    }
    .narrow {
        max-width: 40rem;
    }
</style>