---
import ContentWrapper from './ContentWrapper.astro'
import Link from './Link.astro'
---

<section class="clipped bg-gray-900 text-gray-100 p-6 pb-16">
    <style>
        .clipped {clip-path: polygon(-1% 100%,-1% -1%,100% -1%,100% 100%,100% calc(100% - 3vh));}
    </style>
    <ContentWrapper>
        <h1 class="font-serif text-4xl text-center my-6">Hey, I'm Eric! <span aria-hidden="true">✌️</span></h1>
        <p class="leading-relaxed my-3 text-lg">
            I'm a <strong>Frontend Developer</strong> from Leipzig, Germany.
            I'm in love with declarative and component-driven frontends, CSS, design-systems, and accessibility. 
            I currently working with <Link className="text-brand-green" href="https://www.camao.one/en">CAMAO AG</Link>
            for a better interaction between people, brands and machines. Before that, I worked for
            <Link className="text-brand-green" href="https://power.cloud/en/">powercloud GmbH</Link> and 
            <Link className="text-brand-green" href="https://www.invia.de/en/">Invia Travel Germany GmbH</Link>.
        </p>
    </ContentWrapper>
</section>
