---
const {
    href,
    rel,
    target,
    hreflang,
    className = 'text-brand-accent'
} = Astro.props;
---

<a class={className + " underline"} href={href} rel={rel} target={target} hreflang={hreflang}><slot /></a>
