---
import ArrowRight from "./ArrowRight.astro"
import ArrowLeft from "./ArrowLeft.astro"
import Link from "./Link.astro"

const { prev, next } = Astro.props;
---

<nav class="flex flex-row py-12">
    <div class="w-1/2">
        <Link href={prev}>
            <ArrowLeft />
            previous
        </Link>
    </div>
    <div class="w-1/2 text-right">
        <Link href={next}>
            next
            <ArrowRight />
        </Link>
    </div>
</nav>
