---
    import Link from './Link.astro';
---

<p class="flex flex-row items-center font-serif text-xl border-t border-gray-300 pt-12 mt-6">
    <img class="rounded-full mr-4" src="/images/profile.webp" alt="Portrait of Eric (@thezieger)" />
    <span>Written by Eric (@thezieger) who is a<br/>
    <strong class="p-job-title">Frontend Developer</strong> currently working for<br/>
    <Link href="https://www.camao-tec.com">CAMAO TEC - The Experience Company</Link>.</span>
</p>