* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: calc(1.1em + 0.6vw);
}

body {
  font-family: Arial, sans-serif;
  color: #222;
  line-height: 1.45;
  background: #f8f8f8;
  padding: 0 5vw;
  overflow-x: hidden;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  position: relative;
  line-height: 1.1;
  top: calc(-20vw - 1.1em);
  font-size: 5.9vw;
  margin-bottom: -1em;
  text-transform: uppercase;
}

h2,
h3 {
  margin: 1.45rem 0 0.5rem;
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.45rem;
  max-width: 80ch;
}

b {
  font-weight: 400;
}

strong {
  font-weight: bold;
}

.blue {
  color: #1a16e3;
}

footer {
  text-align: center;
  padding: 10vh 0;
}

footer small {
  display: block;
  font-size: 0.8rem;
  margin-top: 5vh;
}

a {
  color: #1a16e3;
}

:focus {
  outline: 2px solid #1a16e3;
  outline-offset: 3px;
}

main {
  position: relative;
  margin: 30vw -5vw 20vw;
  padding: 10vw 5vw;
  background-color: #1a16e3;
  background: linear-gradient(to bottom, #1a16e3 0%, #6b16e2 100%);
  color: #fff;
}

main:after,
main:before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  border: 50vw solid transparent;
}

main:before {
  bottom: 100%;
  bottom: calc(100% - 1px);
  border-width: 1.5rem 100vw 0 0;
  border-right-color: #1a16e3;
  border-bottom-color: #1a16e3;
}

main:after {
  top: 100%;
  top: calc(100% - 1px);
  border-width: 0 0 1.5rem 100vw;
  border-left-color: #6b16e2;
  border-top-color: #6b16e2;
}
