.footer {
  border-top: 1px solid rgba(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.3rem;
  fill: currentColor;
}

.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  margin: 0 0 1.25em;
  font-weight: 400;
  font-family: Vollkorn, serif;
}

.column {
  flex: 1 1 auto;
  padding: 0 1rem 1rem;
  min-width: 20ch;
  margin-left: -1rem;
}

.column a:not([class*="p-name"]) {
  margin-bottom: .5rem;
}
